<?php

namespace Tests\Browser;

use Tests\DuskTestCase;
use Laravel\Dusk\Browser;
use MagicTest\MagicTest\MagicTest;
use MagicTest\MagicTest\MagicTestManager;
use Illuminate\Foundation\Testing\DatabaseMigrations;

class ExampleTest extends DuskTestCase
{
    /**
     * A basic browser test example.
     *
     * @return void
     */
    public function testBasicExample()
    {
        $this->browse(function (Browser $browser) {
            $browser->visit('/')
                    ->assertSee('Laravel')
                    ->clickLink('Log in')
                    ->pause(200)
                    ->type('name', 'Mateus')
                    ->pause(200)
                    ->type('email', 'mateus@mateusguimaraes.com')
                    ->pause(200)
                    ->magic();
        });
    }
}
